* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background: url("../simon-berger-twukN12EN7c-unsplash.jpg");
    background-position: center;
    height: 100vh;
}

:root {
    --orange: rgb(251, 106, 108);
    --blue: rgb(83, 87, 206);
    --font-color: rgb(130, 130, 156);
}

.App {
    max-width: 1200px;
    margin: 0 auto;
}

.main-page {
    max-width: 600px;
    margin: 0 auto;
    background-color: white;
    border-radius: 10px;
    padding: 20px 25px;
}


/*******************************NAVBAR****************************/
.navbar-container {
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    justify-content: end;
}



/*******************************HEADER****************************/

.header {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid lightgray;
    padding-bottom: 20px;
}

.header-date {
    display: flex;
    flex-direction: column;
}

.header-date h1 {
    color: var(--blue);
}

.header-date h3 {
    color: var(--font-color);
}

.header-tasks-count {
    color: var(--font-color);
}

/*******************************CREATE-TODO****************************/
.create-todo {
    position: relative;
}

.create-todo-btn {
    width: 70px;
    height: 70px;
    border: none;
    outline: none;
    font-size: 32px;
    border-radius: 50%;
    background-color: var(--orange);
    color: white;

    position: absolute;
    top: -35px;
    right: 0;
}

.addTodo-popup {
    position: fixed;
    top: 0px;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6);
    display: flex;
    justify-content: center;
    padding-top: 100px;
}

.createTodo-popup {
    width: 600px;
    height: 200px;
    background-color: white;
    border-radius: 5px;
    border: 2px solid var(--blue);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
}

.createTodo-popup-exit-btn {
    outline: none;
    border: none;
    background-color: white;
    position: absolute;
    top: 0;
    right: 5px;
}


/*******************************TODO-LIST****************************/

.todo-list {
    margin-top: 50px;
    list-style-type: none;
}


.task {
    display: flex;
}

.task-checkbox {
    width: 20px;
    height: 20px;
    border: 2px solid #ccc;
    border-radius: 5px;
    outline: none;
    cursor: pointer;
}


.task-content {
    font-size: 1.3rem;
    color: var(--font-color);
    margin-left: 10px;
    flex: 1;
}

.task-buttons button{
    outline: none;
    border: none;
    background-color: white;
}

.task-buttons-penIcon{
    font-size: 20px;
    color: var(--blue);
    margin-right: 5px;
}

.task-buttons-trashIcon {
    font-size: 20px;
    color: var(--orange);
}