.authentication {
    max-width: 600px;
    margin: 0 auto;
    background-color: white;
    height: 400px;
    display: flex;
    justify-content: center;
}

.auth-by-email {
    display: flex;
    flex-direction: column;
}

.auth-register {
    display: flex;
    flex-direction: column;
}